html,
body {
    background-color: #898cae;
    color: #fff;
    font-family:
      'Muli',
      sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1rem;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
}

img.rounded-circle.profile {
    max-width: 250px !important;
    min-width: 100px;
    height: auto;
    display: inline-block;
    max-width: 170px !important;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}

.rounded-circle {
    border-radius: 50%!important;
}

h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

a {
    color: #7971c5;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}

a #link {
    color: #000;
}

.jumbotron {
    color: #000;
    margin: 0;
    padding: 4rem 1rem;
}

.page {
    margin: 50px auto 0 auto;
}

#socials {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;
}

.fa {
    color: #000;
    font-size: 1.5rem !important;
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.card {
    background-color: #ffffff80;
    color: #000;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #898cae;
    border-color: #fff;
    color: #fff;
}

.icons {
    background-size: 100%;
    display: inline-block;
    height: 64px;
    margin-right: 1rem;
    width: 64px;
}

.header {
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header h2 {
    text-align: center;
}

.progress-container {
    background: #ccc;
    height: 8px;
    width: 100%;
}

.progress-bar {
    background: #384580;
    height: 8px;
    width: 0%;
}

#map {
    border: thin solid #ccc;
    height: 30rem;
    width: 100%;
}

.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
