html, body {
    margin: 0;
    padding: 0;
    background-color: #898CAE;
}

#profile {
    border-radius: 50%;
    width: 200px;
    border: 4px solid #FFFFFF;
}

#header {
  padding: 1rem;
  text-align: center;
  background: #EFEEF2;
  color: #000000;
  font-size: 70px;
  letter-spacing: 20px;
  font-family: 'Noto Sans SC', sans-serif;
}

#container {
  margin: 3em;
  display: flex;
  flex-direction: row;
  color: white;
  flex-wrap: wrap;
}

#about-me {
  margin: 3rem 3rem 0 3rem;
  flex: 1 1 0;
}

#qualities {
  margin: 0 3rem 0 3rem;
  flex: 1 1 0;
}

.text-header {
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Noto+Sans+SC:700', sans-serif;
  padding: 20px 0 20px 0
}

.description {
  padding: 1px 0 1px 0;
  font-size: 20px;
  font-family: 'Arsenal', sans-serif;
}

#socials {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
}

a {
  color: #FFFFFF;
}
