@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("font-awesome.min.css");

	html, body, div, h1, p, header, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	body {
		background-color: #000000;
		/*background-image: url("images/overlay.png"), url("../../images/bg.jpg");*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18pt;
		line-height: 1.75em;
		font-weight: 300;
		letter-spacing: 1px;
		/*color: #3a3939;*/
		text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
		-webkit-text-stroke: 0.25px;
	}

	body a {
		color: inherit;
		text-decoration: none; }
		body a:hover, body a:focus, body a:visited {
		color: inherit;
		text-decoration: none;
	}

	h1 {
		font-weight: 400;
		text-transform: uppercase;
		line-height: 1.75em;
	}

	#header {
		position: relative;
		color: #fff;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
		text-align: center;
		margin: 0;
		padding: 10em 0 0 0;
		cursor: default;
	}

	#header header {
		display: inline-block;
		padding: 0 0 4.5em 0;
	}

	#header header h1 {
		font-weight: 600;
		font-size: 2em;
		letter-spacing: 10px;
	}

	#header header p {
		border-top: solid 1px rgba(255, 255, 255, 0.5);
		color: rgba(255, 255, 255, 0.75);
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.1875);
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 0;
		margin-top: 0.35em;
	}

	#header header p:before {
		content: '';
		display: block;
		border-top: solid 1px rgba(255, 255, 255, 0.5);
		margin: 4px 0 0.8em 0;
	}

	#header footer:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -9em;
		left: 50%;
		height: 9em;
		border-left: solid 1px #fff;
	}

	.contact.info {
  		width: 100%;
  		text-align: center;
	}

  	.contact.info a {
    		font-size: 3vw;
    		padding: 20px;
	}
